.left1{
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #256b51);
}
.button1{
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #256b51);
}
.button1:hover{
    -fx-background-color:#60efb6;
}
.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}
.shadow2{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
    -fx-background-radius: 15px;
}
.left2button:hover{
    -fx-background-color:#66AB89;
}
.left2button2{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.left2button3{
    -fx-background-color:linear-gradient(to bottom right, #52ae8b, #9a2d3d);
    -fx-cursor:hand;
}
.search{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-border-width:1px;
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Tahoma";
}
.search:focused{
    -fx-border-width:2px;
}
.search2{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-border-width:1px;
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Tahoma";
     -fx-padding: 0px 0px 0px 28px;
}
.search2:focused{
    -fx-border-width:2px;
}
.table-view{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-border-width:2px;
    -fx-border-radius:8px;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-background-inset: 0 0 0 0;
    -fx-background-radius: 8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}
.table-view .table-cell{
    -fx-alignment: CENTER;
}
.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}
.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .4px .4px;
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff4f5c;
}
.minimize{
     -fx-background-color:transparent;
      -fx-cursor:hand;
}
.minimize:hover{
   -fx-background-color:#ddd;
}
.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #4f937a, #6e2731);
}
.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}
.logout-btn{
    -fx-background-color:#3e9a74;
    -fx-cursor:hand;
    -fx-background-radius:10px;
}
.logout-btn:hover{
    -fx-background-color:#34ab79;
}
.textfield{
    -fx-background-color:transparent;
    -fx-border-color:#000;
    -fx-border-width:.8px;
    -fx-border-radius:4px;
}
.textfield:focused{
     -fx-border-color:linear-gradient(to bottom right, #4f937a, #6e2731);
     -fx-border-width: 1.8px;
}
.add-btn{
    -fx-background-color:#3b5e75;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}
.add-btn:hover{
    -fx-background-color:#38769d;
}
.update-btn{
    -fx-background-color:#3f7864;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}
.update-btn:hover{
    -fx-background-color:#3fa47f;
}
.delete-btn{
    -fx-background-color:#822d47;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}
.delete-btn:hover{
    -fx-background-color:#a7264f;
}
.clear-btn{
    -fx-background-color:#86207d;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#fff;
}
.clear-btn:hover{
    -fx-background-color:#ae23a2;
}
.red-bg{
    -fx-background-color:#FF6347;
    -fx-background-radius:8px;
}
.green-bg{
    -fx-background-color:#3CB371;
    -fx-background-radius:8px;
}
.blue-bg{
    -fx-background-color:#0099FF;
    -fx-background-radius:8px;
}
.date-picker {
    -fx-border-color: red;
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.date-picker > .arrow-button > .arrow {
    -fx-background-color: red;
}

.date-picker > .arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.date-picker > .arrow-button:hover > .arrow {
    -fx-background-color: darkred;
}
.date-picker .text-field {
    -fx-text-fill: red;
    -fx-alignment: center;
}
.text {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.issue-btn {
    -fx-background-color:#FF0000
}
.issue-btn:hover{
    -fx-background-color:#CC0000
}
.return-btn{
    -fx-background-color:#83C75D
}
.return-btn:hover{
    -fx-background-color:#50A625;
    -fx-background-radius: 8px;
}
.delete2-btn{
    -fx-background-color:#FF3333;
    -fx-background-radius: 8px;
}
.delete2-btn:hover{
    -fx-background-color:#CC0000;
}
.blue-bg{
    -fx-background-color:#00CC99;
    -fx-background-radius:8px;
}
.view-records-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.view-records-form{
    -fx-background-color:linear-gradient(to bottom right, #4f937a, #6e2731);
    -fx-background-radius:8px;
}
.start-home-btn{
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
    -fx-background-color:linear-gradient(to bottom right, #52ae8b, #9a2d3d);
}
.start-allrecords-btn{
    -fx-background-color:linear-gradient(to bottom right, #52ae8b, #9a2d3d);

}
.image {
    -fx-border-color:#000;
}
.delete3-button{
    -fx-background-color:transparent;
}
.delete3-button:hover{
    -fx-background-color:red;
}
.home-bg-top{
    -fx-background-color:linear-gradient(to right, #3b534c, #437a72);
}
.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}
